body {
  background-color: yellow;
}

h1,
h2 {
  text-align: center;
  color: aliceblue;
  font-variant: small-caps;
}

.card {
  padding: 50px;
  height: 600px;
  background-color: green;
  border: 1px solid aliceblue;
  border-radius: 10px;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}
